@import '../../styles/partials/fonts';

.red {
    border-top: 1px solid rgb(246, 15, 15);
}
// .contact__form--name{
//     // margin:20px
// }
// .contact__form--name.Mui-focused{
//     background-color: green;
// }
.blogs {
    width: 80%;
    margin: auto;
    position: relative;

    &__bkg {
        position: absolute;
        left: 50%;
    transform: translate(-50%, 0);
        font-size:250px;
        color:#6161612e;

        // z-index: ;
    }
    &__section{
        position: relative;
        &--card {
            z-index: 1;
            background-color: #1D1D1D;
            padding: 20px 25px;
            margin-bottom:20px ;
            border-top: 1px solid rgb(246, 15, 15);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            &__tle {
                margin: 5px 0;
                font-size: 10px;
                letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;

            }
            &__sub {
                color: white;
                font-size: 25px;
            }
            &__desc {
                color:#616161;
                margin: 10px 0;
                font-size: 13px;
                line-height: 18px;
    font-family: 'Roboto', sans-serif;

            }
        }

    }
}