@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';

.red {
    border-top: 1px solid rgb(246, 15, 15);
}
// .contact__form--name{
//     // margin:20px
// }
// .contact__form--name.Mui-focused{
//     background-color: green;
// }
.blogs {
    width: 80%;
    margin: auto;
    position: relative;

    &__bkg {
        position: absolute;
        left: 50%;
        top:40%;
    transform: translate(-50%, 0);
        font-size:15em;
        color:#6161612e;
        @include tablet {
            font-size:20em;
            left:30%;
        }
        // z-index: ;
    }
    &__section{
        position: relative;
        display:flex;
        flex-wrap: wrap;
        justify-content:center;
        @include tablet {
            max-width: 800px;
        }
        @media screen and (min-width: 1700px) {
            max-width:unset;
        }
        &--card {
            z-index: 1;
            background-color: #1D1D1D;
            padding: 20px 25px;
            position:relative;
            width:80%;
            max-width: 275px;
            margin-bottom:20px ;

            border-top: 1px solid rgb(246, 15, 15);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            @include tablet {
                width: 200px;
                margin:20px;
            }
            &__tle {
                margin: 5px 0;
                font-size: 10px;
                letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;

            }
            &__sub {
                color: white;
                font-size: 20px;
                font-family: Overpass;
            }
            &__desc {
                color:#616161;
                margin: 10px 0;
                font-size: 13px;
                line-height: 18px;
    font-family: 'Roboto', sans-serif;

            }
            &__overlay {
                position:absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #989898e4;
                z-index: -1;
                opacity: 0;
                transition: opacity 0.5s 0.1s, z-index 1s 0.2s;
                display:flex;
                align-items: center;
                justify-content: center;
                font-size:30px;
                color: #ffffff;
                font-family: 'Roboto', sans-serif;

            }
        }

    }
}
.mobileOpen1 {
    transition: opacity 0.5s 0.2s;
    z-index:99;
    opacity:1;
}