@font-face {
    font-family: "Grape";
    src: url('../fonts/GrapeNuts-Regular.ttf') format('truetype')
}

@font-face {
    font-family: "Mochiy";
    src: url('../fonts/MochiyPopOne-Regular.ttf') format('truetype')
}
@font-face {
    font-family: "Oswald";
    src: url('../fonts/Oswald-Medium.ttf') format('truetype')
}
@font-face {
    font-family: "Dosis";
    src: url('../fonts/Dosis-Light.ttf') format('truetype')
}
@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light.ttf') format('truetype')
}
@font-face {
    font-family: "OpenSans";
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype')
}