@font-face {
    font-family: "Grape";
    src: url('../fonts/GrapeNuts-Regular.ttf') format('truetype')
}

@font-face {
    font-family: "Mochiy";
    src: url('../fonts/MochiyPopOne-Regular.ttf') format('truetype')
}