@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';

.contact {
    width: 80%;
    margin: auto;
    margin-bottom:50px;
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        &--input {
            background-color:#2B2B2B;
            margin: 5px 0;
        }
        &--section {
            @include tablet {
                display: flex;
                justify-content: space-between;
            }
            &__main {
                @include tablet {
                    width: 50%;
                }
            }
            &__message {
                @include tablet {
                    margin-left: 10px;
                    width: 50%;
                }
            }
        }
    }
    &__para {
        color: white;
    }

}
.MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: red;
  }

// .testfield__hi {
//     color:'#565555' !important;
// }