@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';


.title {
    color:#2FE7C6;
    // font-weight: 900;
    font-family: 'Mochiy', sans-serif;
    margin: 2vh 0;
}
.portfolio {
    color: white;
    font-family: 'Roboto', sans-serif;
    
    &__top {
        width: 80%;
        margin: auto;
        &--para {
            font-size: 15px;
            line-height:22.5px;
        }
    }
    &__work {
        display: flex;
        flex-wrap: wrap;
        &--img {
            width: 50%;
            height: 50vw;
            background-color: bisque;
            border: 1px solid black;
        box-sizing:border-box;
            @include tablet {
                width:25%;
                height:25vw;
            }
            @include desktop {
                height: 0;
                padding-bottom: 25%;
            }

        }
    }
}
.font {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height:22.5px;
}